.about{
    text-align-last: left;
    color: white;
    font-size: 16px;
    line-height: 0px;
}
.para{
    font-size: 10.24px;
    text-align: left;
    color: white;
}
.About{
    margin-top: 40px;
}